{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="container">
<div class="row">
<div class="col-8" style="text-align:center;">


<h1 style="text-align:center;"> Order Summery </h1>
<h3>Customer: {{order.customer}}</h3>
<h3>Customer: {{order.date_added}}</h3>
                    <table class = "table-bordered">
                        <tr>
                            <th> SL.No </th>
                            <th> Item </th>
                            <th> Qty </th>
                            <th> Unit Price </th>
                            <th>  Total </th>
                        </tr>
                        {% for item in order.orderitem_set.all  %}
                        <tr>
                            <td>  {{forloop.counter }}     </td>
                            <td>  {{item.products.name}}   </td>
                            <td>  {{item.quantity}}        </td>
                            <td>  {{item.products.price}}  </td>
                            <td>  {{item.get_total}}       </td>
                        </tr>
                        {% endfor %}
                        <tr> <td></td>  <td></td>  <td></td> <td> Grand Total: </td> <td> {{order.grand_total}} </td> </tr>
                    </table>
                    </div></div></div>
{% endblock %}
